
html {
    font-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.25;
}

body {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
}

html, body {
    height: 100%;
}

.a {
    position: absolute;
    left: auto;
    height: 1px;
    width: 1px;
    top: 0;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}

.b {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 5.75rem;
    margin-bottom: 1.875rem;
    padding: 0 2.5rem;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #F0F0F0;
}

@media (max-width: 768px) {
    .b {
        height: 4rem;
        margin-bottom: 0;
        padding: 0 0 0 1.25rem;
        border-bottom: none;
    }
}

.c {
    flex: 0 0 auto;
    width: 6.75rem;
    height: 2.3125rem;
    margin-right: 3.25rem;
    background: no-repeat 50% 50% url(assets/logo.svg);
    background-size: contain;
}

.d {
    display: none;
    width: 3.5rem;
    height: 100%;
    margin: 0 0 0 auto;
    padding: 0;
    background: 50% 50% no-repeat transparent url(assets/icon_list_m@1x.svg);
    border: none;
    border-radius: 0;
    appearance: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .d {
        display: block;
    }
}

.e {
    display: flex;
    gap: 1.75rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .e {
        display: none;

        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
        padding: 1.25rem;
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
    }

    .f {
        display: flex;
        animation: hideMenu .3s ease-in-out 1;
        animation-fill-mode: both;
    }

    .g {
        display: flex;
        visibility: visible;
        animation: showMenu .3s ease-in-out 1;
        animation-fill-mode: both;
    }
}

@keyframes showMenu {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hideMenu {
    from {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: translateY(-1rem);
        opacity: 0;
        visibility: hidden;
    }
}

.i {
    margin: 0;
    padding: 0;
}

.h {
    font-weight: bold;
    opacity: .6;
    transition: opacity .15s ease-in-out;
    text-decoration: none;
    color: #333333;
}

.h:hover {
    opacity: 1;
}

.j {
    opacity: 1;
}

.k {
    display: grid;
    flex: 0 0 auto;
    grid-template-columns: 50% 50%;
    gap: 1.625rem;
    padding: 0 2.5rem;
}

@media (max-width: 768px) {
    .k {
        padding: 0 1.25rem;
    }
}

@media (max-width: 1024px) {
    .k {
        grid-template-columns: 100%;
    }
}

.m {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (max-width: 1024px) {
    .m {
        grid-column-end: 2;
    }
}

.o {
    margin: 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: #333333;
}

.p {
    display: flex;
    align-items: baseline;
    margin: 0 0 1.25rem 0;
}

@media (max-width: 768px) {
    .p {
        gap: 1rem;
    }

    .q {
        display: none;
    }
}

.r {
    display: none;
    margin: 0 0 0 auto;
    padding: 0.4375rem 1.9375rem .5rem 1rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 0.8125rem;
    font-family: inherit;
    font-weight: bold;
    background: no-repeat calc(100% - 1rem) 50% #FFD93E url(assets/arrow-down.svg);
    appearance: none;
}

@media (max-width: 768px) {
    .r {
        display: block;
    }
}

.s {
    display: flex;
    gap: 0.625rem;
    align-items: baseline;
    margin: 0 0 0 0.8125rem;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .s {
        display: none;
    }
}

.t {
    flex: 0 0 auto;
    padding: 0.4375rem 0.9375rem .5rem;
    font-size: 0.8125rem;
    font-weight: bold;
    background: #F7F7F7;
    border-radius: 1024px;
    cursor: pointer;
    transition: .25s ease-in-out;
    transition-property: background-color, box-shadow;
}

.u {
    background: #FFD93E;
}

.t:not(.u):hover {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.v {
    position: relative;
    box-sizing: border-box;
    display: flex;
    gap: 0.9375rem;
    height: 20.6875rem;
    background: no-repeat 50% 50% url('assets/bg@2x (2).webp');
    /*background-size: cover;*/
    background-size: 1260px;
    border-radius: 1.25rem;
}

@media (max-width: 768px) {
    .v {
        flex-direction: column;
        gap: 1.25rem;
        height: auto;
        margin-bottom: 0.3125rem;
    }
}

.w {
    flex: 1 1 auto;
    padding: 1.25rem 0 1.25rem 1.25rem;
}

@media (max-width: 768px) {
    .w {
        padding: 1.25rem 1.25rem 0 1.25rem;
    }
}

.x {
    margin: 0.375rem 0;
    font-size: 1.6875rem;
    font-weight: bold;
    color: #333333;
}

@media (max-width: 768px) {
    .x {
        font-size: 1.125rem;
    }
}

.y {
    margin: 0.375rem 0 0 0;
    font-size: 0.875rem;
    color: #333333;
}

@media (max-width: 768px) {
    .y {
        margin: 0.3125rem 0 0 0;
        font-size: .75rem;
    }
}

.z {
    display: flex;
    gap: 1.125rem;
    margin: 1.5625rem 0 0 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .z {
        margin-top: 0.9375rem;
    }
}

.aa {
    margin: 0;
    padding: 0;
}

.ab {
    font-size: 0.875rem;
    color: #858585;
}

@media (max-width: 768px) {
    .ab {
        font-size: .75rem;
    }
}

.ac {
    display: flex;
    align-items: center;
    margin-top: .25rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #333333;
}

@media (max-width: 768px) {
    .ac {
        margin-top: 0.3125rem;
        font-size: 1.5rem;
    }
}

.ad {
    width: 1.625rem;
    height: 1.625rem;
    margin-left: 0.3125rem;
    background: 50% 50% no-repeat;
    background-size: contain;
}

@media (max-width: 768px) {
    .ad {
        width: 1.375rem;
        height: 1.375rem;
    }
}

.ae {
    background-image: url(assets/cloud-drizzle.svg);
}

.af {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0.9375rem;
    margin: 0;
    padding: 1.25rem 1.5625rem 1.25rem 0;
    overflow: auto;
    list-style: none;
    scrollbar-width: none;
}

.af::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .af {
        flex-direction: row;
        padding: 0 1.25rem 1.25rem 1.25rem;
    }
}

.ag {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.1875rem;
    width: 100%;
    min-width: 12.5rem;
    height: 7.5rem;
    margin: 0;
    padding: 0.875rem;
    border-radius: 1.25rem;
    border: none;
    background: #F7F7F7;
    text-align: left;
    transition: .25s ease-in-out;
    transition-property: background-color, box-shadow;
    cursor: pointer;
    appearance: none;
}

.event_slim .ag {
    height: 6.25rem;
}

.ag:hover {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.ai {
    position: absolute;
    top: 0.875rem;
    left: 0.875rem;
    width: 1.5rem;
    height: 1.5rem;
    background: no-repeat 50% 50%;
    background-size: contain;
}

.ah {
    background-image: url(assets/icon_temperature.svg);
}

.aj {
    background-image: url(assets/icon_temperature_2.svg);
}

.ak {
    background-image: url(assets/icon_sun.svg);
}

.al {
    background-image: url(assets/icon_sun_2.svg);
}

.am {
    background-image: url(assets/icon_scheduled.svg);
}

.an {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: #333333;
}

.ao {
    font-size: .75rem;
    color: #858585;
}

.ap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .ap {
        display: flex;
        padding-bottom: 0.3125rem;
        overflow: auto;
        scrollbar-width: none;
    }

    .ap::-webkit-scrollbar {
        display: none;
    }
}

.aq {
    padding-bottom: .625rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.aq::-webkit-scrollbar {
    display: none;
}

.zz {
    display: none;
}

.ar {
    display: flex;
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.as {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 4rem;
    margin-top: auto;
    padding: 0 2.5rem;
}

@media (max-width: 768px) {
    .as {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.9375rem;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.at {
    display: flex;
    align-items: baseline;
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .at {
        flex-direction: column;
        align-items: flex-start;
    }
}

.au {
    font-size: .75rem;
    color: #858585;
    transition: opacity .15s ease-in-out;
    text-decoration: none;
}

.au:hover {
    color: #000;
}

.av {
    margin-left: auto;
    font-size: .75rem;
    color: #858585;
}

@media (max-width: 768px) {
    .av {
        margin-left: 0;
    }
}
